<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Guidance Shell
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Guidance
 * @package     Shell
 * @copyright   Copyright (c) 2018 Guidance Solutions (http://www.guidance.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Guidance_Shell" setup_version="1.0.0" />
</config>
